body{
    background-color: #000000;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
}

p{
    color: white;
}

h1{
    color: red;
}

h3{
    color: white;
}

header{
    text-align: center;
    color: white;
}


footer{
    font-family: 'Chakra Petch';
    color: white;
}

.topnav{
    margin: auto;
    overflow: hidden;
    background-color: #222;
    border-radius: 25px;
    width: 800px;
}

.topnav a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

.topnav a:hover{
    border-radius: 25px;
    background-color: white;
    color: black;
}