body {
    background-color: #000;
    color: white;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

a {
    color: #fff;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

a:active {
    color: grey;
}

#container {
    width: 722px;
    margin: 20px auto;
}

#archiveList {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 20px 0 20px 0;
    margin-top: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#archiveList li {
    display: inline;
    transition: 0.3s ease filter;
}

#archiveList img {
    border: 2px solid #fff;
    transition: 0.2s ease border-radius;
}

#archiveList li:hover {
    filter: brightness(65%);
}

#archiveList img:hover {
    border-radius: 10px;
}