html {
    font-family: serif;
}

body {
    color: white;
    background-color: #1d1d1d;
    margin: 15px 0px;
}

a {
    color: #0860a8;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.3s ease;
}

a:hover {
    text-decoration-color: #0860a8;
}

#footer hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: #ffffff 1px dashed;
}

#container {
    width: 980px;
    margin: auto;
}

#banner {
    background: url("assets/imgs/ad_background.gif") repeat-x;
    height: 110px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#nav {
    border-radius: 5px;
    padding: 1px;
    margin-bottom: 10px;
    color: #afafaf;
    background-image: linear-gradient(#383838, #1d1d1d);
}

#logo {
    margin: 12px;
}

#logo a img {
    filter: invert(1);
    transition: 0.3s ease filter;
}

#logo a img:hover {
    filter: invert(0.5);
}

#logo a {
    color: #555;
    text-decoration-color: transparent;
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    transition: text-decoration-color, 0.3s ease;
}

#logo a:hover {
    text-decoration-color: #555;
}

#menu {
    height: 20px;
    margin-bottom: 5px;
}

#topMenu {
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

#topMenu a {
    color: inherit;
    text-decoration-color: transparent;
    transition: text-decoration-color 0.3s ease;
}

#topMenu a:hover {
    text-decoration-color: inherit
}

#topMenu li.first {
    border: none;
}

#topMenu li {
    font-size: 12px;
    display: inline;
    padding: 0 17px;
    border-left: 1px solid #c3c3c3;
}

#selected {
    font-weight: bold;
    color: #fff;
}

#offset {
    height: 17px;
    background-color: #353535;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#pageBody {
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
}

#mainContent {
    order: 2;
    width: 476px;
}

.TRUEstory {
    margin-bottom: 15px;
    margin-top: 5px;
}

.title {
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 16px;
    color: #fff;
    line-height: 27px;
    padding: 0 10px;
    margin: 0;
    background-image: linear-gradient(#464646, #161616);
}

#storyContainer {
    background-color: #616161;
    display: flex;
    padding: 10px;
}

#headline {
    font-size: 20px;
    margin: 0;
}

#storyContainer img {
    margin: 0 10px 10px 0px;
    width: 120px;
    height: 120px;
    border-radius: 5px;
}

#storyContainer p {
    line-height: 16px;
    font-size: 12px;
}

#storyOffset {
    background-image: linear-gradient(#303030, #0f0f0f);
    height: 26px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#leftContent {
    order: 1;
    margin-bottom: 15px;
    margin-top: 5px;
    width: 152px;
}

#photoBlock {
    border-radius: 5px;
    background-color: #616161;
}

#blockContainer {
    padding: 1px;
}

#photoBlock ul {
    list-style-type: none;
    padding: 0;
}

#photoBlock li {
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    width: 90px;
}

#photoBlock img {
    width: 90px;
}

#relatedContent {
    order: 3;
    margin-bottom: 15px;
    margin-top: 5px;
    width: 314px;
}

#topStuff {
    border-radius: 5px;
    background-color: #616161;
}

#stuffContainer {
    padding: 1px;
}

#stuffContainer img {
    width: 150px;
}

#stuffContainer ul {
    color: black;
    list-style-type: none;
    padding: 0;
}

#stuffContainer li {
    margin-bottom: 8px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#inline {
    display: flex;
    justify-content: space-between;
}

#textLines {
    text-align: right;
}

#mainLogo {
    transition: filter 0.3s ease;
    height: 0;
}

#mainLogo:hover {
    filter: brightness(70%);
}